@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Arimo|Exo+2|Rubik|Source+Sans+Pro&display=swap");
$main: #231f28;
$dark: #23324c;
$medium: #475170;
$light: #718eae;
$accent-colour: #8d453c;
$texts:white;
$white: white;
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;

$button-color: #23324c;
$button-color-hover: #718eae;

$titles: 'Exo 2', sans-serif;
$sub-title: 'Archivo', sans-serif;
$sub-title-narrow: 'Archivo narrow', sans-serif; 
$general2: 'Rubik', sans-serif;

$title2: 'Lora', serif;
$title3: 'Montserrat', sans-serif;
$general: 'Roboto', sans-serif;